body {
  text-align:center;
  color: white;
  font-family: 'Raleway', sans-serif;
}
@media (max-width: 990px) {
.back-img{
  background-image: url(wall.jpg);
  padding-top: 30%;
}
}

h1{
     font-size: 4rem;
     font-weight: lighter;
     margin-top: 20%;
     margin-bottom: 1%;
     
}
hr{
     border-top: none;
     width: 15%;
}
.back-img{
    background-image: url(Some.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-j{
     color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
     position: absolute;
     left: 10px;
     top: 10px;
}
@media (max-width: 990px) {
img{	
  width: 10%;	
}
}
