body {
  background-image: url(Some.jpg); 
  text-align:center;
  color: white;
  font-family: 'Raleway', sans-serif;
}
@media (max-width: 990px) {
body{
  background-image: url(wall.jpg);
}
.img{
  width: 8%;
}
}
h1{
     font-size: 4rem;
     font-weight: lighter;
     margin-top: 20%;
     margin-bottom: 1%;
     
}
hr{
     border-top: none;
     width: 15%;
}
img{
     width: 4%;
     position: absolute;
     left: 10px;
     top: 10px;
     border-radius:100% ;
}
